{% load static %}
<div class="right-sidebar">

    <div class="right-sidebar__item">
        <div class="user-img status-online">
            <img class="img-50 radius-50" src="{% static 'images/user-1.jpg' %}" alt="user-img">
        </div>
        <div class="description">
            <h4 class=""><a href="#">Anna Sthesia</a></h4>
            <span class="">Just Now</span>
        </div>
    </div>
    <div class="right-sidebar__item">
        <div class="user-img status-online">
            <img class="img-50 radius-50" src="{% static 'images/user-2.jpg' %}" alt="user-img">
        </div>
        <div class="description">
            <h4 class=""><a href="#">Anna Sthesia</a></h4>
            <span class="">Just Now</span>
        </div>
    </div>
    <div class="right-sidebar__item">
        <div class="user-img status-online">
            <img class="img-50 radius-50" src="{% static 'images/user-3.jpg' %}" alt="user-img">
        </div>
        <div class=" description">
            <h4 class=""><a href="#">Anna Sthesia</a></h4>
            <span class="">Just Now</s>
        </div>
    </div>
</div>