<div class="sidebar">
    <nav class="sidebar__menu">
        <ul class="menu">
            <li class="active" class="menu__item">
                <a href="{% url 'page:homepage' %}" class="">
                    <i class='bx bx-news'></i>
                    <span>Newsfeed</span></a>
            </li>
            <li class="active" class="menu__item">
                <a href="#" class="">
                    <i class='bx bx-group'></i>
                    <span>Group</span></a>
            </li>
            <li class="active" class="menu__item">
                <a href="{% url 'chat:chat_page' %}" class="">
                    <i class='bx bx-conversation'></i>
                    <span>Chat</span></a>
            </li>
            <li class="active" class="menu__item">
                <a href="#" class="">
                    <i class='bx bx-calendar-event'></i>
                    <span>Event</span></a>
            </li>
        </ul>
    </nav>
</div>