@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    margin    : 0;
    padding   : 0;
    border    : none;
    outline   : none;
}

html {
    font-size : 62.5%;
    box-sizing: border-box;
}

body {
    font-family     : 'Roboto', sans-serif;
    font-size       : 1.6rem;
    font-weight     : 400;
    color           : $black;
    background-color: $lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin     : 0;
    color      : $black;
    line-height: 1.2;
    font-weight: 500;
}

a {
    text-decoration: none;
    color          : inherit;
}

li {
    list-style-type: none;
}

section {
    padding : 5rem 0 5rem;
    overflow: hidden;
}

p,
small,
span {
    line-height: 3rem;
}

img {
    width     : 100%;
    height    : auto;
    object-fit: cover;
    block-size: auto;
}

label,
input,
button,
select,
legend,
textarea {
    font-size  : 1.6rem;
    line-height: 2;
}