/* ----------------------------- Common Classes ----------------------------- */

.radius-50 {
    border-radius: 50%;
}

.img-45 {
    width : 4.5rem;
    height: 4.5rem;
}

.img-50 {
    width : 5rem;
    height: 5rem;
}

.img-60 {
    width : 6rem;
    height: 6rem;
}

.part,
.dropdown-menu {
    background-color: $white;
    box-shadow      : 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius   : 1rem;
    border          : none;
    padding         : 1rem 2rem;
    margin-bottom   : 1rem;
}

.btn-group {

    transition: all 0.3s ease-in-out;

    button {
        font-size: 2rem;
        padding  : 1rem;

        &:focus {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        min-width : 300px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

        a {
            display    : flex;
            align-items: center;
            width      : 100%;
            padding    : 0;

            .icon {
                padding-inline: 0;
                font-size     : 3rem;
                color         : $blue;

            }

            .description {
                flex       : 1;
                margin-left: 1rem;


                p {
                    font-size: 1.4rem;
                    margin   : 0;
                    color    : $gray;
                }

                small {
                    float    : right;
                    font-size: 1.4rem;
                }
            }

            >button {
                font-size  : 1.5rem;
                padding    : 0.5rem;
                margin-left: 2rem;
                border     : none;
            }

        }
    }
}