/* --------------------------------- Header --------------------------------- */
.header {
    position     : fixed;
    top          : 0;
    left         : 0;
    width        : 100%;
    margin-bottom: 3rem;
    background   : $white;
    box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index      : 9;

    .navbar {
        padding-inline : 2rem;
        position       : relative;
        z-index        : 9;
        justify-content: space-between;

        .navbar__brand {
            display    : flex;
            align-items: center;

            .navbar__logo {
                display    : flex;
                align-items: center;

                img {
                    height: 5rem;
                }

                span {
                    font-family: 'Leckerli One', cursive;
                    font-size  : 3rem;
                    margin-left: 1rem;
                    color      : $blue;

                }

            }

            .navbar__toggle {
                font-size     : 3rem;
                margin-inline : 1rem;
                padding-inline: 1rem;
                color         : $black;
                cursor        : pointer;
            }
        }

        .navbar__searchbar {
            max-width: 45rem;
            padding  : 0 1.5rem;

            .search-form {
                width   : 100%;
                position: relative;
                margin  : 0 auto;

                input {
                    background   : $lightblue;
                    border       : none;
                    border-radius: 25px;
                    padding      : .5rem 4.5rem .5rem 1.5rem;
                    width        : 100%;
                    line-height  : 2.2;
                    font-size    : 1.6rem;
                    font-weight  : 500;
                }

                .btn {
                    position     : absolute;
                    right        : 0.5rem;
                    background   : transparent;
                    font-size    : 2.5rem;
                    padding-block: 0;
                    top          : 50%;
                    font-weight  : 500;
                    transform    : translateY(-50%);
                }
            }

        }

        .navbar__menu {
            display    : flex;
            align-items: center;

            a {
                padding  : 1rem;
                font-size: 2rem;

                &.user-link {
                    display    : flex;
                    align-items: center;

                    img {
                        height       : 4.5rem;
                        width        : 4.5rem;
                        border-radius: 50%;
                    }

                    span {
                        font-size  : 1.6rem;
                        color      : $dark;
                        font-weight: 500;
                        margin-left: 1rem;
                    }
                }


                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}