$colorblue     : #0078d2;
$colorgray     : #d8d7d7;
$light         : #fffbfb;
$lightgray     : #f3f3f3;
$lightblue     : #eef3fb;
$white         : #fdfdfd;
$darkgray      : #b0b3b8;
$colorblack    : #18191a;
$colordark     : #242526;
$colornomaldark: #3a3b3c;
$blue          : #0077B5;
$richblue      : #00A0DC;
$black         : #000000;
$dark          : #313335;
$gray          : #86888A;
$silver        : #CACCCE;

$boxshadow: 0 5px 15px rgba(0, 0, 0, 0.1);