.sign-container {
    background-color: $lightblue;
    position        : relative;
    overflow        : hidden;
    height          : 100vh;
    width           : 100%;
    margin          : 0px auto;
    padding         : 0px auto;


    .sign-form {
        height          : 100vh;
        padding-top     : 5rem;
        padding-inline  : 3rem;
        background-color: $white;

        form {
            margin-top: 1rem;

            .form-group {
                margin-bottom: 1.5rem;

                .form-control {
                    border-radius: 2rem;
                    padding-left : 1rem;
                    padding-block: .75rem;
                    font-size    : 1.6rem;

                }

            }

            a {
                display    : inline;
                float      : right;
                line-height: 2;
                color      : $blue;
            }


            .btn {
                width           : 100%;
                margin-block    : 1rem;
                padding-block   : 0.5rem;
                background-color: $blue;
                color           : $white;
                border-radius   : 2rem;
                font-size       : 1.6rem;
            }

            .sign-info {
                text-align   : center;
                margin-bottom: 3rem;

                a {
                    float: none;
                }

                .social-media {
                    margin : 0;
                    padding: 0;
                    width  : 100%;

                    li {
                        display     : inline-block;
                        margin-right: 1rem;
                    }
                }
            }

        }
    }
}